/* BASIC RESET + BACKGROUND */
html {
    background-image: url("../images/background.png");
    background-size: cover;
    font-family: 'Berkshire Swash', cursive;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* BASIC RESET + BACKGROUND */


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#garden-logo {
    margin: 10% 0 1% 0;
    width: 70%;
}

#footer {
    margin: 5% 0 0 0;
    border-radius: 25px;
    width: 70%;
    text-align: center;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#log-in-form {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    height: 275px;
    margin: 2% 0 0 0;
}

#form-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.white {
    color: white;
}

.text-big {
    font-size: 2.8em;
}

.text-medium {
    font-size: 1.4em;
}

#log-in {
    margin-top: 5%;
    border-radius: 25px;
    width: 30%;
    font-family: 'Berkshire Swash', cursive;
    background-color: #BEFF9C;
    border: black solid 1px;
    margin-right: 5%;
    height: 60%;
}

#sign-up {
    margin-top: 5%;
    border-radius: 25px;
    width: 30%;
    height: 60%;
    font-family: 'Berkshire Swash', cursive;
    background-color: #E2AD59;
    border: black solid 1px;
}
#log-in-form input[type=email], input[type=password] {
    height: 10%;
    width: 70%;
    border-radius: 25px;
    border: black solid 1px;
    margin: 2% 0 0 0;
    font-size: 1.2em;
    text-align: center;
}

#log-in-form label:first-child {
    margin-top: 7%;
}

#weather {
    color: white;
}

#dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
